<footer>
    <div class="footer1">
        <a class="tst2" href="/about">
            ABOUT 
        </a>

        <a class="tst2" href="/contact">
            CONTACT US
        </a>
    
        <a class="tst1"  href="/"> <img src="/Images/fbicon.PNG" alt="Facebook" height = "38" width = "45"></a>
    
        <a class="tst1" href="/"> <img src="/Images/twitticon.PNG" alt="Twitter" height = "38" width = "45"></a>
    </div>
</footer>
</body>	
</html>	