<%- include('./partials/header.ejs') %>
    <div class = "ABOUT">
        <h3>About UNCC Study Rooms site</h3> 
        <p>
            An application to offers a variety of spaces to study (even with your children!) including reservable study rooms, classrooms to learn, maker spaces to try new things, or get one-on-one help with writing or IT issues. Several student success services have satellite locations here in Atkins, and if you're looking for a silent place to study we've got you covered. You can even stay active while you study by using the treadmill and cycle desks in our NinerFit area on the third floor.
        </p>
        <p>
            If you are a UNC Charlotte faculty or staff member and wish to reserve the Halton Room for a special event, please visit the Create a new Room page.
        </p>
    </div>
<%- include('./partials/footer.ejs') %>