<%- include('./partials/header.ejs') %>
    <div class = "ABOUT">
        <h3>Contact US</h3> 
        <p>Address - 9201 University blvd, Charlotte, NC, 28223</p>
        <p>Phone - (704)-687-8622</p>
    </div>
<%- include('./partials/footer.ejs') %>