<%- include('./partials/header.ejs') %>
    <div class = "ABOUT">
        <h3><%= error.status%> Error</h3> 
        <p><%= error.message %></p><br><br>
    </div>
<%- include('./partials/footer.ejs') %>