<%- include('./partials/header.ejs') %>
<div class="description1" >
			
    <h2>
        GROUP & INDIVIDUAL STUDY ROOMS
    </h2>
    <br><br>
    <h3>
        It’s no secret that the libraries can get noisy at times
    </h3>
    
    <p>
    It’s very important that students find a good place where they can study and be productive. Some people like the library, others like their rooms.
    Studying in bed can be detrimental to one’s productivity, because it is not efficient to have paperwork and books on a surface that is not flat and solid.
    Here you’ll find a variety of study rooms, classrooms, resources centers, help desks, the newest technologies, and even a coffee shop. 
    Most group study rooms are available on a first-come first-served basis.
    </p>	
    <ul>
        <li> You can reserve study rooms up to two weeks in advance. </li> 
        <li> You can reserve study rooms for up to twelve hours per week. </li>
    </ul>
    <br> <br><br><br>
</div>
<%- include('./partials/footer.ejs') %>