*{
	margin:0;
	padding:5px;
	font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.labels{
	height:140px;
	width:150px;
	background-color:E3C322;
	float:left;
}

.formstyle{
	padding-left:400px;
	background-color:#31A36E;
	padding-top:20px;
	padding-bottom:30px;
	color:white;
}
label{
	line-height:43px;
	background-color:#31A36E;
}
input{
	margin-bottom:10px;
	width:300px;
}
.inputs{
	line-height:33px;
	width:100px;
	background-color:#31A36E;
	float:left;
}

.header1{
	background-color: #E3C322;
}
.tst1{
	float: right;
	padding-bottom:20px;
	color: white;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
	
}
.success {
	background: #E3C322;
	color: #fff;
	
	text-align: center;
	padding: 10px 10px;
}
  
.error {
	background: linear-gradient(to bottom right, #EF8D9C 40%, #FFC39E  100%);
	box-shadow: 5px 5px 20px rgba(203,205,211,10);
	perspective: 40px;
	border: 1px solid rgb(158, 69, 69);
	color: rgb(136, 4, 4);
	text-align: center;
	border-radius: 3px;
	padding: 10px 10px;
}
.success {
	background: linear-gradient(to bottom right, #b0db7d 40%, #99dbb4  100%);
	box-shadow: 5px 5px 20px rgba(203,205,211,10);
	perspective: 40px;
	border: 1px solid rgb(53, 168, 53);
	color: rgb(1, 129, 1);
	text-align: center;
	border-radius: 3px;
	padding: 10px 10px;
}

.nav1{
	background-color: #31A36E;
}

.tst2{
	color:white;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

.tst3{
	float: right;
	color:white;
	padding-bottom: 20px;
	font-family: Segoe UI;
}

.description1{
padding-left:200px;
margin-left:5px;
margin-right:5px;
background-color:#31A36E;
color:white;
}

.category{
	padding-left:200px;
	margin-left:5px;
	margin-right:5px;
	background-color:#31A36E;
	padding-bottom:50px;
	color:white;
}

.roomsEmpty{
	padding-bottom:160px;
}

.studyroomdetails{
	padding-left:200px;
	margin-left:5px;
	margin-right:5px;
	padding-bottom:30px;
	background-color:#31A36E;
	color:white;
}

.courses{
	padding-left:50px;
}

.hrstyle {
  border:0;
  border-bottom:3px solid #31A36E;
  color:#31A36E;
}

h1{
	display: inline;
	position: relative ; bottom: 50px; left:250px;
	color: white;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;  
}

p{
	margin-top:20px;
	padding:10px;
}

h2{
	display:inline;
}

.Hostedbydetails{
	padding-left:20px;
}

.button1{
	float:right;
	padding-right:300px;
	border:none;
}

.submit1{
	margin-left: 250px;
	background-color:#E3C322;
	color:white;
	font-weight:bold;
}
.formformat{
	margin-top:530px;
}
.loginformat{
	margin-top:80px;
}
.signupformat{
	margin-top:170px;
}
.loginsubmit{
	margin-left: 90px;
	background-color:#E3C322;
	color:white;
	font-weight:bold;
}
.signupsubmit{
	margin-left: 190px;
	background-color:#E3C322;
	color:white;
	font-weight:bold;
}
.button_css{
	background-color:#E3C322;
	color:white;
	font-weight:bold;
}

.footer1{
	clear:both;
	padding: 45px;
	background-color: #E3C322;	
}

.ABOUT{
	padding-left:100px;
	padding-right: 20px;
	padding-bottom: 150px;
	margin-left:5px;
	margin-right:5px;
	background-color:#31A36E;
	color:white;
}
	
.profile{
	padding-left:250px;
	padding-right: 20px;
	padding-bottom: 150px;
	margin-left:5px;
	margin-right:5px;
	background-color:#31A36E;
	color:white;
}

tr, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}