<%- include('../partials/header.ejs')%>
    <form action="/users/login" method="POST">
        <div class="formstyle">
            <div class="labels">
                <label for="email">Email :</label><br>
                <label for="password">Password :</label>
            </div>
            <div class="inputs">
                <input type="email" id="email" name="email" required><br>
                <input type="password" id="password" name="password" required>
            </div>
            <p class="loginformat"></p>
            <button class="loginsubmit">Login</button><br>
            <p class="loginformat"></p><br>
        </div>

    </form>
<%- include('../partials/footer.ejs')%>