<%- include('../partials/header.ejs')%>

    <form action = '/rooms' method = 'POST'>
        <div class="formstyle">
            <div class="labels">
                <label for="department" > Department : </label> <br>
                <label for="course" > Course :  </label> <br>
                <label for="topic" > Topic :	</label> <br>
                <label for="date" > Date : </label> <br>
                <label for="startTime" > Start Time : </label> <br>
                <label for="endTime" > End Time : </label>	<br>
                <label for="imageURL">	Image Link : </label> <br>	
                <label for="location"> Location : </label><br>
                <label for="roomType"> Room Type :</label><br>
                <label for="content"> Content :</label>
            </div>
        
            <div class="inputs">
                <input type="text" id="department" name="department" placeholder = "Enter the Department*" required minlength="3"> </input><br>
                <input type="text" id="course" name="course" required placeholder = "Enter the course Name*" minlength="3"/> <br>
                <input type="text" id="topic" name="topic" required placeholder = "Enter the topic*" minlength="3"/> <br>
                <input type="date" id="date" name="date" required /> <br>
                <input type="time" id="startTime" name="startTime" required /> <br>
                <input type="time" id="endTime" name="endTime" required /> <br>
                <input type="text" id="imageURL" name="imageURL" placeholder = "Enter the link of a source/Image" required/> <br>
                <input type="text" id="location" name="location" placeholder = "Enter the Location" required/> <br>
                <input type="text" id="roomType" name="roomType" placeholder = "Enter the roomType-Single/Group" required/> <br>
                <textarea rows="5" cols="50" id="content" name="content" placeholder="Write a note" required minlength="10"></textarea>
            </div>
            <p class="formformat"></p>
            <button class="submit1" > Create Room </button>
        </div>
    </form>

<%- include('../partials/footer.ejs')%>